extends ../../layouts/defaultLayout


block content
    p 회원가입 페이지
    form.join-form(method="post")
        input.join-id(type="text" id="idInput" name="id" placeholder="아이디입력")

        .join-id-check
        br
        input.join-pw(type="text" name="pw" placeholder="비밀번호입력")
        br
        input.join-pw(type="text" name="pw-repeat" placeholder="비밀번호확인")
        br
        input.join-submit(type="submit" formaction="/auth/join")

block script
    script(src='/js/auth/join.js')
