// - includes/foot.pug

#footer
	p Copyright (c) NyXXiR
	div(style="display:flex; flex-direction: column; align-items: center;")
		div
			a(href="/")
				img(src="/img/logo_2.png")
		a(href="/about") about me
		a(href="/privacy-policy") privacy policy
		a(href="/terms-of-service") terms of service

