div.header(style='display:flex; justify-content: space-between;')
	p
		a NMOMG
		a 리그오브레전드
		a 발로란트
	p
		a(href="/auth/join") 회원가입
		a(href="/auth/login") 로그인

.container-fluid
		h1= title
		p Welcome to #{title}

		.row
			.col-3
				a(href="/pages/recruit") 팀원구하기
			.col-3
				a(href="/pages/board") 게시판목록
			.col-3
				a(href="/pages/stat") 전적 상세검색
			.col-3
				a(href="/") 여분 카테고리
