.sidebar
  p.sidebar-content 전적검색 기능
    form.stat
        h1 전적검색
        input(type="text" placeholder="아이디입력")
        input(type="submit" value="검색")
  p.sidebar-content 인기게시판
  p.sidebar-content 여분 사이드바
