doctype html
html
	include ../includes/head

	include ../includes/google_analytics
	link(rel='stylesheet' href='/css/about.css')

body
	.container-md
		.default-container
			block content

		include ../includes/foot

	include ../includes/scripts

	block script

