doctype html
html
	include ../includes/head


body
	.container-fluid
		include ../includes/header_diablo4

		.content
			block content

		include ../includes/foot

		include ../includes/scripts

		block script

