doctype html
html
	include ../includes/head
	include ../includes/google_analytics

body
	.container-md
		include ../includes/header
		br
		.default-container
			block content

		include ../includes/foot

	include ../includes/scripts

	block script

