doctype html
html
	include ../includes/head
	include ../includes/google_analytics


body


	.container-md
		include ../includes/header
		br
		.grid-container
			.grid-container-item
				block content
			.grid-container-item
				include ../includes/sidebar

		include ../includes/foot

	include ../includes/scripts

	block script


