doctype html
html
	include ../includes/head


body


	.container-md
		include ../includes/header
		.content
			.row
				.col-9
					block content
				.col-3.sidebar
					include ../includes/sidebar

		include ../includes/foot

	include ../includes/scripts

	block script


