doctype html
html
	include ../includes/head


body
	include ../includes/header

	.container-fluid
		.row
			.col-9
				block content
			.col-3
				include ../includes/sidebar

	include ../includes/foot

	include ../includes/scripts

	block script


