<div class="component-box-md">
  <div class="box-md">
    <div class="box-image">
      이미지는 asset에 저장하고 넘어온 book의 seq를 기준으로 조회한다
    </div>
    <div class="box-book-name">책이름</div>
  </div>

  <div class="box-md">
    <div class="box-image">
      이미지는 asset에 저장하고 넘어온 book의 seq를 기준으로 조회한다
    </div>
    <div class="box-book-name">책이름</div>
  </div>

  <div class="box-md">
    <div class="box-image">
      이미지는 asset에 저장하고 넘어온 book의 seq를 기준으로 조회한다
    </div>
    <div class="box-book-name">책이름</div>
  </div>

</div>