extends ./layouts/aboutLayout

block content
    header.header-animation
        .navigation-bar
            .logo-container
                img(src="/img/about.png" alt="Logo" height="130px" )
            .navigation-bar-container
                a(href='#') Home
                a(href='#about') About
                a(href='#skills') Skills
                a(href='#projects') Projects
                a(href='#contact') Contact
            .contact-container(style="display:flex;")
                a(href='https://nmomg.com')
                    img(src="/img/logo_small.png" alt="Logo" height="50px" )
                a(href='https://github.com/NyXXiR')
                    img(src="/img/mdi_github.png" alt="Logo" height="50px" )
                a(href='mailto:lgh0334@gmail.com')
                    img(src="/img/devicon_google.png" alt="Logo" height="42px" )
                a(href='/document/about.png' download)
                    img(src="/img/mdi_information.png" alt="Logo" height="50px" )

    section#home
        .entrance-korean
            h1.hello
                span 안
                span 녕
                span 하
                span 세
                span 요
                span !
            h1 웹 개발자
            h1
                span.hello-name 임규훈
                span 입니다.
        .entrance-english
            h1.hello
                span H
                span e
                span l
                span l
                span o
                span !
            h1
                span I'm
                span.hello-name  NyXXiR,
            h1 Web developer.

    section#about
        h2 About
        .section-container
            .about-left
                h3 임규훈
                h4 Web developer
                p - 풀스택 개발자.
                p - GIS 기반 솔루션 개발 및 유지보수 담당
                p - Front-end 및 Back-end 기술 스택을 활용한 지리 정보 시스템을 개발하고 최적화
                p - 지도 데이터 시각화 및 공간 분석에 관한 다양한 기능 구현
                p - 고객 요구사항에 따라 사용자 친화적이고 직관적인 UI/UX 설계
                p - 효율적인 데이터베이스 구조 설계 및 성능 향상을 위한 최적화 작업 수행
            .about-right
                img(src="/img/ddabong.gif" alt="profile" height="150px" )
    section#skills
        h2 Skills
        .section-container
            ul.frontend
                h3 frontend
                li.icon-item(data-icon="javascript") JavaScript
                li.icon-item(data-icon="vue") vue.js

            ul.backend
                h3 backend
                li.icon-item(data-icon="java") java
                li.icon-item(data-icon="spring") spring
                li.icon-item(data-icon="thymeleaf") thymeleaf
                li.icon-item(data-icon="jsp") jsp
                li.icon-item(data-icon="nodejs") node.js
                li.icon-item(data-icon="express") express
                li.icon-item(data-icon="pug") pug

            ul.deployment-server
                h3 OS/server/deployment
                li.icon-item(data-icon="letsencrypt") letsEncrypt
                li.icon-item(data-icon="docker") docker
                li.icon-item(data-icon="ubuntu") ubuntu
                li.icon-item(data-icon="nginx") nginx

            ul.version-control
                h3 version control
                li.icon-item(data-icon="git") git
                li.icon-item(data-icon="githubdesktop") git desktop

            ul.communication-test
                h3 communicaion-test tool
                li.icon-item(data-icon="figma") figma
                li.icon-item(data-icon="postman") postman

            ul.db-cache
                h3 DB-cache
                li.icon-item(data-icon="mysql") mySQL
                li.icon-item(data-icon="postgresql") postgreSQL
                li.icon-item(data-icon="dbeaver") DBeaver

            ul.certificate
                h3 certificate
                li.icon-item(data-icon="certificate") 정보처리기사
    section#projects
        h2 Projects

        .section-container
            .project-container //이 컨테이너는 컴포넌트로 만들어 활용해야 함
                .project-container-header
                    h3 2023
                    h3 프로젝트명
                    h4 2023.09~2023.12(1명)
                .project-container-content
                    .thumbnail
                        img(src="/img/example.png" alt="Logo" height="200px" )
                        .thumbnail-button-container
                            button <
                            span 1
                            span  / 8
                            button >
                        a(href='https://nmomg.com')
                        span readme 상세보기
                        button 노션 버튼
                    .description 프로젝트 설명을 입력하세요.
                    .tech-stack 사용한 기술
                        div github desktop
                        div vue.js
                        div node.js
                        div express



    section#contact
        h2 Contact
        .section-container
            p Feel free to reach out to me via email at lgh0334@gmail.com.

    script(src='/js/about.js') // 스크립트 파일 링크를 추가하세요.


