extends ./layouts/aboutLayout

block content
    header.header-animation
        .navigation-bar
            .logo-container
                img(src="/img/about.png" alt="Logo" height="130px" )
            .navigation-bar-container
                a(href='#') Home
                a(href='#about') About
                a(href='#skills') Skills
                a(href='#projects') Projects
                a(href='#contact') Contact
            .contact-container
                a(href='#')
                    img(src="/img/mdi_github.png" alt="Logo" height="50px" )
                a(href='#about')
                    img(src="/img/devicon_google.png" alt="Logo" height="50px" )
                a(href='#skills')
                    img(src="/img/mdi_information.png" alt="Logo" height="50px" )

    section#home
        .entrance-korean
            h1.hello
                span 안
                span 녕
                span 하
                span 세
                span 요
                span !
            h1 웹 개발자
            h1
                span.hello-name 임규훈
                span 입니다.
        .entrance-english
            h1.hello
                span H
                span e
                span l
                span l
                span o
                span !
            h1
                span I'm
                span.hello-name  NyXXiR,
            h1 Web developer.

    section#about
        h2 About
        .section-container
            p I am a web developer with a strong background in front-end technologies. ...

    section#skills
        h2 Skills
        .section-container
            ul
                li HTML5
                li CSS3
                li JavaScript
                li React
                li Node.js
            ul
                li HTML5
                li CSS3
                li JavaScript
                li React
                li Node.js
                li CSS3
                li JavaScript
                li React
                li Node.js
                li CSS3
                li JavaScript
                li React
                li Node.js
    section#projects
        h2 Projects

        .section-container
        // 프로젝트 목록을 추가하세요.
        // 각 프로젝트에 대한 간단한 설명, 이미지, 또는 링크를 포함하세요.
    section#contact
        h2 Contact
        .section-container
            p Feel free to reach out to me via email at your.email@example.com.

    script(src='scripts.js') // 스크립트 파일 링크를 추가하세요.


