extends ./layouts/defaultLayout

block content
    div NMOMG - privacy policy
        div 개인정보 처리 방침(Privacy Policy)

            div 안녕하세요, <br> 저희 앱을 이용해주셔서 감사합니다. 라이엇게임즈 계정과의 연동을 통해 통계 서비스를 제공해드리기 위해 중요한 개인정보 처리 방침에 동의를 요청드립니다.  <br>사용자님께서 개인정보 처리 방침에 동의하시면, 당신의 소중한 스탯과 게임플레이 데이터가 다른 이용자들에게 노출될 수 있습니다. 이용자님이 동의 버튼을 누르시면, 라이엇게임즈 계정과의 연동 페이지로 자동 이동됩니다. <br> 저희는 개인정보 보호를 매우 중요시하며, 이용자님의 개인정보를 안전하게 보호하고 합법적으로 처리할 것을 약속드립니다. 개인정보 처리에 관한 자세한 내용은 저희 앱의 개인정보 처리 방침을 꼭 확인해주시기 바랍니다. <br> 더 나은 서비스 제공을 위해 고객님의 개인정보를 소중히 보호하고 취급하겠습니다. <br> 감사합니다.

        div
            input(type="button" value="동의")
            input(type="button" value="거부")


