extends ./layouts/defaultLayout

block content
    a(href="/")
        img(src="/img/icon-valorant.webp")

    p.sidebar-content #{game} 전적검색 기능
        form.form__search__lol(style="display:flex;justify-content: center;" action=`/stat/search/${game}` method="post")
        input(type="text" name="playerName" placeholder="아이디")
        input(type="submit" value="검색")
