@font-face {
  font-family: "Jura";
  src: url(../font/jura.ttf);
}

/* 타 css 내용을 덮어씌우는 css 코드 목록 */
.container-md {
  background-color: transparent;
  border: none;
}

.navigation-bar a {
  background-color: transparent;
  color: #fff;

  border: none;
}
h2 {
  font-size: 50px;
  margin-top: 40px;
}

h3 {
  font-weight: bold;
}
h4 {
  font-weight: lighter;
  color: gray;
}
li {
  list-style-type: none;
}
body {
  font-family: "Jura", sans-serif; /* 전체 문서에 Jura 폰트를 사용하도록 설정 */
  background-color: #272823 !important;
  margin: 0;
  padding: 0; /* body의 기본 padding 제거 */
}

#home {
  height: 100vh; /* 화면 전체 높이를 차지하도록 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Korean 섹션에 대한 애니메이션 */
.entrance-korean {
  animation: fadeIn 1s forwards;
  animation-delay: 0.5s; /* 0.5초 딜레이 설정 */
}

/* English 섹션에 대한 애니메이션 */
.entrance-english {
  animation: fadeIn 1s forwards;
  animation-delay: 1s; /* 1초 딜레이 설정 */
}

/* fadeIn 애니메이션 키프레임 설정 */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.entrance-korean,
.entrance-english {
  width: 100%;
  padding: 20px;
  color: #fff; /* 텍스트 색상 설정 */
  text-align: left; /* 왼쪽 정렬 설정 */
  opacity: 0; /* 처음에는 투명하게 설정 */

  /* 스크롤 가능한 영역을 부여 */
  overflow-y: auto;
  max-height: 80vh; /* 최대 높이 설정 */
}

.entrance-korean h1 {
  font-weight: bold; /* 텍스트 두껍게 설정 */
}

/* 각 섹션에 대한 추가 스타일 설정 */
.entrance-korean h1.hello span:nth-child(1) {
  color: #3a58f8;
}

.entrance-korean h1.hello span:nth-child(2) {
  color: #f92672;
}

.entrance-korean h1.hello span:nth-child(3) {
  color: #e6db74;
}

.entrance-korean h1.hello span:nth-child(4) {
  color: #ff7a95;
}

.entrance-korean h1.hello span:nth-child(5) {
  color: #66d9ef;
}

/* 각 섹션에 대한 추가 스타일 설정 */
.entrance-english h1.hello span:nth-child(1) {
  color: #3a58f8;
}

.entrance-english h1.hello span:nth-child(2) {
  color: #f92672;
}

.entrance-english h1.hello span:nth-child(3) {
  color: #e6db74;
}

.entrance-english h1.hello span:nth-child(4) {
  color: #ff7a95;
}

.entrance-english h1.hello span:nth-child(5) {
  color: #66d9ef;
}

.hello-name {
  color: #6df83a;
}

/* navbar 스타일 설정 */
.navigation-bar-container a:nth-child(1) {
  color: #3a58f8;
}

.navigation-bar-container a:nth-child(2) {
  color: #f92672;
}

.navigation-bar-container a:nth-child(3) {
  color: #e6db74;
}

.navigation-bar-container a:nth-child(4) {
  color: #ff7a95;
}

.navigation-bar-container a:nth-child(5) {
  color: #66d9ef;
}

#about h2 {
  color: #f92672;
}
#skills h2 {
  color: #e6db74;
}
#projects h2 {
  color: #ff7a95;
}
#contact h2 {
  color: #66d9ef;
}
/* 초기 상태 */
.header-animation {
  display: none; /* 초기에는 숨겨진 상태 */
  opacity: 0;
}

/* 애니메이션 적용 */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 애니메이션 적용 */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* 화면 크기가 601px 이상일 때의 스타일 */
@media screen and (min-width: 601px) {
  .header-animation {
    display: none; /* 초기에는 숨겨진 상태 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    padding: 10px;
  }

  .header-animation.initial-animation {
    animation: fadeIn 1s forwards, slideDown 1s forwards;
    animation-delay: 3s; /* 처음 나타날 때의 딜레이 설정 */
  }
}

/* 화면 크기가 600px 이하일 때의 스타일 */
@media screen and (max-width: 600px) {
  .header-animation {
    animation: fadeIn 1s forwards; /* 화면 크기가 작을 때는 fadeIn 애니메이션만 적용 */
  }

  .section-container {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: calc(1.375rem + 1vw);
  }

  .project-container-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .project-left,
  .project-right {
    flex-basis: calc(50% - 20px);
    padding: 0px !important;
    margin: 10px;
  }

  #about > .section-container > div {
    padding: 30px !important;
  }
}
@media screen and (max-width: 1200px) {
  .project-button-name {
    display: none;
  }
  .project-button {
    margin: 5px 0 5px 0 !important;
  }
}

.default-container {
  display: block;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  width: 100%; /* navigation-bar에도 100% width 적용 */
  background: #272823;
}
.navigation-bar-container a {
  margin-left: 50px; /* 각 링크의 왼쪽 마진을 이용하여 간격 생성 */
  font-size: 30px;
}
.navigation-bar-container a:first-child {
  margin-left: 0; /* 첫 번째 요소에는 마진을 주지 않음 */
}

.logo-container,
.navigation-bar-container,
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-container {
  background-color: #fff;
  border-radius: 15px;
}
#about > .section-container {
  display: grid;
  grid-template-columns: 3fr 1fr; /* 3:1 비율로 설정 */
  align-items: center;
}

.about-left {
  text-align: left;
  margin: 20px auto;
}

#skills > .section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* 가로 정렬을 space-between으로 변경 */
}

#about > .section-container > div {
  padding: 50px;
}

#skills ul {
  flex-basis: calc(50% - 20px); /* 2줄로 배치하기 위한 계산값 */
  padding: 50px;
  margin: 10px;
  text-align: right; /* 내용은 오른쪽 정렬 */
}

#skills h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: left;
  border-bottom: 1px solid gray;
}

.tech-stack > h3 {
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}
.description > h3 {
  text-align: left;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

#skills li {
  list-style-type: none;
  margin-bottom: 10px;
  margin-right: 20px;
}

#skills .icon {
  height: 40px; /* 아이콘의 높이 */
  margin-right: 15px; /* 아이콘과 텍스트 사이의 간격 */
  margin-left: 15px;
}

.tech-stack .icon {
  height: 40px; /* 아이콘의 높이 */
  margin-right: 15px; /* 아이콘과 텍스트 사이의 간격 */
  margin-left: 15px;
}

.icon-item > .icon {
  height: 40px; /* 아이콘의 높이 */
  margin-right: 15px; /* 아이콘과 텍스트 사이의 간격 */
  margin-left: 15px;
}
.project-container-content {
  display: flex;
  justify-content: space-between;
}
.project-left,
.project-right {
  flex-basis: calc(50% - 20px);
  padding: 50px;
  margin: 10px;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thumbnail > * {
  margin: 10px;
}

.thumbnail > img {
  border: 1px solid gray;
}
.project-container {
  padding: 20px;
}
.project-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-github-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-detail-container > a {
  background: black;
  color: white;

  text-decoration: none;
  border: 1px solid black;
}
.project-github-container > a {
  background: white;
  color: black;
  text-decoration: none;
  border: 1px solid black;
}
.project-button {
  margin: 5px 0 5px 15px;
}
.project-link-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.project-link-container > div {
  padding: 10px;
}

.tech-stack {
  text-align: left;
}
