* {
  border: 1px solid black;
}

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.content {
  text-align: center;
  background: white;
}

a {
  color: #00b7ff;
}

.container {
  min-width: 992px;
}

.container-board-recruit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*bootstrap-md 크기에 맞춰 사라지는 사이드바*/
@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
}
