* {
  border: 1px solid black;
}

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.content {
  text-align: center;
}

a {
  color: #00b7ff;
}

/*bootstrap-md 크기에 맞춰 사라지는 사이드바*/
@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
}
