/* * {
  border: 1px solid black;
} */

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid;
}
body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.container {
  min-width: 992px;
  margin: 0 auto;
}

.container-md {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid gray;
}
.container-board-recruit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container-board-recruit > * {
  display: flex;
  flex-direction: column;
  width: 300px;
}
/*bootstrap-md 크기에 맞춰 사라지는 사이드바*/
/*그런데 부트스트랩 때문에 없애도 의미가 별로 없음*/
/* @media (max-width: 992px) {
  .sidebar {
    display: none;
  }
} */
.box-header-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#player-name {
  cursor: pointer;
  color: black;
}
#player-name:hover {
  color: blue;
}
.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr; /* 2개의 열을 3:1 비율로 설정합니다. */
  grid-gap: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}
.default-container {
  text-align: center;
}

/* navbar 제어 시작 - navbar가 부트스트랩과 겹쳐 이름을 nav로 수정*/
.navigation-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.navigation-bar a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.2s, color 0.2s;
}

.navigation-bar a:hover {
  background-color: #333;
  color: #fff;
}
/* navbar 제어 끝*/

.container-board-recruit > * {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  border: 1px solid gray;
}

.title-sub-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*content, sidebar 부분*/
/* .grid-container-item {
  background-color: #f0f0f0;
  padding: 20px;
} */

#menu-button {
  display: none;
}
#menu-container {
  display: flex;
  flex-direction: column;
}
/* 미디어 쿼리를 사용하여 작은 화면 크기에서 그리드 레이아웃 조정 */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .grid-container-item:nth-child(2) {
    display: none; /* 두 번째 item을 화면에서 숨깁니다. */
  }
  .navigation-bar {
    flex-direction: column;
  }
  .adsense-header,
  .header-game-link {
    display: none;
  }
  .title-sub-items {
    justify-content: center;
  }
  #menu-button {
    display: block;
  }
}
