extends ../../layouts/defaultLayout


block content
    p 게시판 메인페이지

    div 리스트 활용한 동적출력
        a(href="/board/list/recruit") 팀원구하기
        a(href="/board/list/humor") 유머게시판
        a(href="/board/list/free") 자유게시판

    div 기능
    a(href="/board/insert") 글쓰기
