extends ../../layouts/defaultLayout

block content
    h1 글쓰기


    form.board-form(action="/board/insert" method="post")
        select.category(name="category" id="category-select")
            option(value="") 카테고리를 고르세요
            option(value="recruit_diablo4") 팀원구하기-디아블로4
            option(value="recruit_valorant") 팀원구하기-발로란트
            option(value="recruit_lol") 팀원구하기-리그오브레전드
            option(value="humor") 유머게시판
            option(value="free") 자유게시판

        br
        input.title(type="text" name="title" placeholder="제목입력")
        br
        input.content(type="text" name="content" placeholder="내용")
        input.login-submit(type="submit")
