extends ../../layouts/defaultLayout

block content
    p 글쓰기


    form.login-form(action="/auth/login" method="post")
        input.login-id(type="text" name="id" placeholder="아이디입력")
        input.login-pw(type="text" name="pw" placeholder="비밀번호입력")
        input.login-submit(type="submit")
