<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sqlMapper">
  <select id="getAllQuery">
    SELECT
      *
    FROM
      board
    WHERE
      seq =#{seq}
  </select>





  <!--Auth 관련 SQL문-->

<insert id="insertMember">
insert into member(id,pw,nickname) values (#{id},#{pw},#{nickname})
</insert>

<select id="memberIdCheck">
select count(*) as cnt from member where id= #{id}
</select>

<select id="loginCheck">
 select seq, id, nickname from member where id=#{id} and pw=#{pw}
</select>
</mapper>
