<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sqlMapper">
  <select id="getAllQuery">
    SELECT
      *
    FROM
      board
    WHERE
      seq =#{seq}
  </select>





  <!--Auth 관련 SQL문-->

<insert id="insertMember">
insert into member(id,pw,nickname) values (#{id},#{pw},#{nickname})
</insert>

<insert id="kakaoInsertMember">
insert into member(id,nickname,auth_provider) values (#{id},#{nickname},'kakao')
</insert>

<select id="memberIdCheck">
select count(*) as cnt from member where id= #{id}
</select>

<select id="loginCheck">
 select seq, id, nickname from member where id=#{id} and pw=#{pw}
</select>

<select id="kakaoLoginCheck">
 select seq, id, nickname from member where id=#{id}
</select>


<!--Board 관련 SQL문-->
<select id="selectBoardByCategoryAndGame">
select * from board join member on board.writerSeq=member.seq where category like concat(#{category},'%') and game like #{game}
</select>

<select id="selectIdAndTierBySeqAndCategory">
select tier_#{category}, id_#{category} from member where seq=#{seq}

</mapper>
