<!DOCTYPE html>

<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--footerFragment 선언-->
<div th:fragment="rightSidebarFragment">
	<h1>sidebar Section</h1>

	<div class="container-sidebar">
		<div class="sidebar-board1" style="background:no-repeat center url('../../images/sidebar-right-1.jpg')"></div>
		<div class="sidebar-board2" style="background:no-repeat center url('../../images/sidebar-right-2.jpg')"></div>
		<div class="sidebar-board3" style="background:no-repeat center url('../../images/sidebar-right-3.jpg')"></div>

	</div>
</div>
</html>
