extends ../../layouts/defaultLayout


block content
    p 마이페이지

    div 기능목록
        a(href="/auth/change_password") 비밀번호변경-미구현
        a(href="/auth/change_nickname") 닉네임변경-미구현
        a(href="/auth/quit_member") 회원탈퇴-미구현

    div 기능
    a(href="/board/insert") 글쓰기
